.tile-input {
    background: none;
    border: none;
    border-bottom: gray solid 1px;
    width: 1em;
    font-size: 4em;
    text-align: center;
}

.tile-misplaced {
    border-bottom-color: yellow;
}

.tile-correct {
    border-bottom-color: green;
}

.tile-incorrect {
    border-bottom-color: red;
}
